<div class="container-fluid mb-5">
  <form [formGroup]="projectForm" (ngSubmit)="checkProjName()">
    <div class="form-group" >
      <label>Project</label>
      <input type="text"  formControlName="projName" class="form-control"   required>
      <!-- <span style="color: red;" *ngIf="name.invalid && name.touched">Email is Required</span> -->
    </div>
    <div class="form-group" >
      <label>Email</label>
      <input type="email" formControlName="email" class="form-control"  required>
      <!-- <span style="color: red;" *ngIf="name.invalid && name.touched">Email is Required</span> -->
    </div>
    <div class="form-group">
      <select class="custom-select" formControlName="status">
        <option selected>--Select--</option>
        <option *ngFor="let item of status" >{{item}}</option>
      </select>
      
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
     </form>
  </div>
  <h1 [hidden]="ishidden">
    {{projectForm.value|json}}
  </h1>
  <h1 style="color: red;" *ngIf="projNamevalidation">Cant use Test as a Project Name</h1>
   <div *ngIf="show">
    {{projectForm.value|json}}
  </div>
  
  <h1 *ngIf="invalidForm">Please Fill the form</h1>