<form [formgroup]="userRegistrationForm">
  ​
    <div class="form-group">
      <label>Name:</label>
      <input type="text" [class.is-invalid]="userRegistrationForm.get('name').invalid && userRegistrationForm.get('name').touched" class="form-control" formcontrolname="name">
      <div *ngif="(userRegistrationForm.get('name').invalid && userRegistrationForm.get('name').touched) || userRegistrationForm.get('name').dirty">
        <small *ngif="userRegistrationForm.get('name').errors?.required" class="text-danger">Name is required</small>
      </div>
    </div>
  ​
    <div class="form-group">
      <label>Email:</label>
      <input type="email" [class.is-invalid]="userRegistrationForm.get('email').invalid && userRegistrationForm.get('email').touched" class="form-control" formcontrolname="email">
      <div *ngif="(userRegistrationForm.get('email').invalid && userRegistrationForm.get('email').touched) || userRegistrationForm.get('email').dirty">
        <small class="text-danger" *ngif="userRegistrationForm.get('email').errors?.required">Email address is required</small>
        <small class="text-danger" *ngif="userRegistrationForm.get('email').errors?.email">Email address is invalid</small>
      </div>
    </div>
  ​
  </form>