.title
{
    background-image: url(https://img.freepik.com/free-photo/abstract-luxury-gradient-blue-background-smooth-dark-blue-with-black-vignette-studio-banner_1258-56228.jpg?w=996&t=st=1672236118~exp=1672236718~hmac=19057e37e1dfdd44d1bfb0c48b637f5f41f1b9a4c1366ad947c7d2c5e41022a7);
    color: white;
    background-repeat: no-repeat;
    
   

}