<div class="container-fluid">
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">EMPLOYEE ID</th>
            <th scope="col">EMPLOYEE NAME</th>
            <th scope="col">SALARY</th>
            <th scope="col">Department</th>
            <th scope="col">Address</th>
            <th scope="col" >Delete</th>
            <th scope="col" >Edit</th>     
          
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employees">
            <th scope="row">{{employee.id}}</th>
            <td>{{employee.name}}</td>
            <td>{{employee.basic}}</td>
            <td>{{employee.deptNo}}</td>
            <td>{{employee.address}}</td>
            <td><button class="btn" (click)="delEmployee(employee.id)"><i class="fa fa-trash"></i></button></td>
            <td><button class="btn" (click)="getEmployee(employee.id)"><i class="fa fa-edit"></i></button></td>                    
          </tr>
          </tbody>
      </table>
      
      
</div>


